
@{
    ViewBag.Title = "Domov";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-carousel banner-carousel-2 mb-0">
    <div class="banner-carousel-item" style="background-image: url('../../images/slider-main/wintergarden.jpg'); ">
        <div class="container">
            <div class="box-slider-content">
                <div class="box-slider-text">
                    <h2 class="box-slide-title">16 rokov skúseností</h2>
                    <h3 class="box-slide-sub-title">Tieniaci priemysel</h3>
                    <p class="box-slide-description">
                        Ako Aba Pergola nám záleží na vašom pohodlí.
                    </p>
                    <p>
                        <a href="/Default/Kontakt/" class="slider btn btn-primary">Kontaktuj Nás</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-carousel-item" style="background-image: url('../../images/slider-main/2.png'); ">
        <div class="container">
            <div class="box-slider-content">
                <div class="box-slider-text">
                    <h2 class="box-slide-title">National Golf Country Club</h2>
                    <h3 class="box-slide-sub-title">Rumunska</h3>
                    <p class="box-slide-description">
                       
                    </p>
                    <p>
                        <a href="/Default/Kontakt/" class="slider btn btn-primary">Kontaktuj Nás</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-carousel-item" style="background-image: url('../../images/slider-main/slider2.jpg'); ">
        <div class="slider-content text-left">
            <div class="container">
                <div class="box-slider-content">
                    <div class="box-slider-text">
                        <h2 class="box-slide-title">Skúsený montážny tím</h2>
                        <h3 class="box-slide-sub-title">Nájdite u nás pohodlie</h3>
                        <p class="box-slide-description">
                            Ponúkame obývateľnú plochu v štyroch ročných obdobiach.
                        </p>
                        <p><a href="/Default/Onas/" class="slider btn btn-primary" aria-label="about-us">O Nás</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-carousel-item" style="background-image: url('../../images/slider-main/slider4.jpg'); ">
        @*<div class="slider-content text-left">
                <div class="container">
                    <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">When Services Matters</h2>
                            <h3 class="box-slide-sub-title">Your Choice is Simple</h3>
                            <p class="box-slide-description">
                                You have ideas, goals, and dreams. We have a culturally diverse, forward
                                thinking team looking for talent like.
                            </p>
                            <p><a href="about.html" class="slider btn btn-primary" aria-label="about-us">Know Us</a></p>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="banner-carousel-item" style="background-image: url('../../images/slider-main/hrinova-pergola.jpeg'); ">
        @*<div class="slider-content text-left">
                <div class="container">
                    <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">When Services Matters</h2>
                            <h3 class="box-slide-sub-title">Your Choice is Simple</h3>
                            <p class="box-slide-description">
                                You have ideas, goals, and dreams. We have a culturally diverse, forward
                                thinking team looking for talent like.
                            </p>
                            <p><a href="about.html" class="slider btn btn-primary" aria-label="about-us">Know Us</a></p>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="banner-carousel-item" style="background-image: url('../../images/slider-main/zvolen.jpeg'); ">
        @*<div class="slider-content text-left">
                <div class="container">
                    <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">When Services Matters</h2>
                            <h3 class="box-slide-sub-title">Your Choice is Simple</h3>
                            <p class="box-slide-description">
                                You have ideas, goals, and dreams. We have a culturally diverse, forward
                                thinking team looking for talent like.
                            </p>
                            <p><a href="about.html" class="slider btn btn-primary" aria-label="about-us">Know Us</a></p>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>

<section class="call-to-action no-padding">
    <div class="container">
        <div class="action-style-box">
            <div class="row">
                <div class="col-md-8 text-center text-md-left">
                    <div class="call-to-action-text">
                        <h3 class="action-title">Vieme, že svoj domov alebo pracovisko chcete využívať v štyroch ročných obdobiach.</h3>
                    </div>
                </div><!-- Col end -->
                <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                    <div class="call-to-action-btn">
                        <a class="btn btn-primary" href="/Default/Kontakt/">Kontaktuj Nás</a>
                    </div>
                </div><!-- col end -->
            </div><!-- row end -->
        </div><!-- Action style box -->
    </div><!-- Container end -->
</section><!-- Action end -->

<section id="ts-features" class="ts-features pb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="~/images/projects/zvolen pergola.jpeg" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="~/images/icon-image/pergola.png" alt="service-icon" />
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="service-single.html">Automatické Pergolové Systémy</a></h3>
                            <p>Pergola je automatický markízový systém, navrhnutý tak aby Vaše otvorené priestory mohli byť z časti uzatvorené.</p>
                            <a class="learn-more d-inline-block" href="/NašeProdukty/Pergolové/" aria-label="service-details"><i class="fa fa-caret-right"></i> Viac</a>
                        </div>
                    </div>
                </div><!-- Service1 end -->
            </div><!-- Col 1 end -->

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="~/images/projects/guillotine.png" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="~/images/icon-image/guillotine.png" alt="service-icon" />
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="service-single.html">Systémy Gilotínového Skla</a></h3>
                            <p>Motorizovaný systém gilotínového skla ktorý je možné ovládať na diaľku, je jedným z najideálnejších riešení pre pohodlie a bezpečnosť.</p>
                            <a class="learn-more d-inline-block" href="/NašeProdukty/Gilotínové_sklo/" aria-label="service-details"><i class="fa fa-caret-right"></i> Viac</a>
                        </div>
                    </div>
                </div><!-- Service2 end -->
            </div><!-- Col 2 end -->

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="~/images/projects/wintergarden.jpeg" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="~/images/icon-image/wintergarden.png" alt="service-icon" />
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="service-single.html">Systémy Zimnej Záhrady</a></h3>
                            <p>Systémy zimnných záhrad sú navrhnuté s cieľom tažiť z krás vonkajšieho sveta v každom ročnom období, a ponúkajú riešenia vhodné pre všetky požidavky a potreby.</p>
                            <a class="learn-more d-inline-block" href="/NašeProdukty/Zimná_záhrada/" aria-label="service-details"><i class="fa fa-caret-right"></i> Viac</a>
                        </div>
                    </div>
                </div><!-- Service3 end -->
            </div><!-- Col 3 end -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="~/images/projects/rollingroof.png" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="~/images/icon-image/rollingroof.png" alt="service-icon" />
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="service-single.html">Rollingroof Systémy</a></h3>
                            <p>Ak si chcete užiť svoju záhradu a terasu v štyroch ročných obdobiach, tento produkt je určený priamo pre Vás. </p>
                            <a class="learn-more d-inline-block" href="/NašeProdukty/Rollingroof/" aria-label="service-details"><i class="fa fa-caret-right"></i> Viac</a>
                        </div>
                    </div>
                </div><!-- Service1 end -->
            </div><!-- Col 4 end -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="~/images/projects/sali.png" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="~/images/icon-image/sliding-glass.png" alt="service-icon" />
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="service-single.html">Systémy Posuvných Skiel</a></h3>
                            <p>Systémy posuvného skla  nám umožňujú využívať náš priestor v príjemnom a priestrannom prostredí v lete aj v zime v domácnostiach a na pracoviskách.</p>
                            <a class="learn-more d-inline-block" href="/NašeProdukty/Posuvné_sklo/" aria-label="service-details"><i class="fa fa-caret-right"></i> Viac</a>
                        </div>
                    </div>
                </div><!-- Service1 end -->
            </div><!-- Col 5 end -->
            <!-- Content row end -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="~/images/projects/bioclimatic.png" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="~/images/icon-image/bio.png" alt="service-icon" />
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="service-single.html">Systémy Bioklimatický</a></h3>
                            <p>Technológia bioklimatickej pergoly poskytuje svojim užívateľom nejeden komfort.</p>
                            <a class="learn-more d-inline-block" href="/NašeProdukty/Bioklimaticky/" aria-label="service-details"><i class="fa fa-caret-right"></i> Viac</a>
                        </div>
                    </div>
                </div><!-- Service1 end -->
            </div><!-- Col 5 end -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="~/images/projects/Nove Zamky.jpeg" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                            <img loading="lazy" src="~/images/icon-image/zip.png" alt="service-icon" />
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="service-single.html">Obrazovka Zip</a></h3>
                            <p>Systém zipsových závesov je odolný, praktický a vysoko funkčný motorizovaný horizontálny a vertikálny uzatvárací systém určený pre vonkajšie a vnútorné obytné priestory.</p>
                            <a class="learn-more d-inline-block" href="/NašeProdukty/Obrazovka_zips/" aria-label="service-details"><i class="fa fa-caret-right"></i> Viac</a>
                        </div>
                    </div>
                </div><!-- Service1 end -->
            </div><!-- Col 5 end -->
        </div>
    </div><!-- Container end -->
</section><!-- Feature are end -->

<!--<section id="facts" class="facts-area dark-bg">
    <div class="container">
        <div class="facts-wrapper">
            <div class="row">
                <div class="col-md-4 col-sm-6 ts-facts">
                    <div class="ts-facts-img">
                        <img loading="lazy" src="~/images/icon-image/fact1.png" alt="facts-img">
                    </div>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp" data-count="1352">0</span></h2>
                        <h3 class="ts-facts-title">Celkové Projekty</h3>
                    </div>
                </div>--><!-- Col end -->

                <!--<div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
                    <div class="ts-facts-img">
                        <img loading="lazy" src="~/images/icon-image/fact2.png" alt="facts-img">
                    </div>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp" data-count="647">0</span></h2>
                        <h3 class="ts-facts-title">Staff Members</h3>
                    </div>
                </div>--><!-- Col end -->

                <!--<div class="col-md-4 col-sm-6 ts-facts mt-5 mt-md-0">
                    <div class="ts-facts-img">
                        <img loading="lazy" src="~/images/icon-image/fact3.png" alt="facts-img">
                    </div>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp" data-count="4000">0</span></h2>
                        <h3 class="ts-facts-title">Pracovný Čas</h3>
                    </div>
                </div>--><!-- Col end -->

                <!--<div class="col-md-4 col-sm-6 ts-facts mt-5 mt-md-0">
                    <div class="ts-facts-img">
                        <img loading="lazy" src="~/images/icon-image/fact4.png" alt="facts-img">
                    </div>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp" data-count="25">0</span></h2>
                        <h3 class="ts-facts-title">Skúsenosti s Krajinami</h3>
                    </div>
                </div>--><!-- Col end -->

            <!--</div>--> <!-- Facts end -->
        <!--</div>-->
        <!--/ Content row end -->
    <!--</div>-->
    <!--/ Container end -->
<!--</section>--><!-- Facts end -->

<section id="ts-service-area" class="ts-service-area pb-0">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-title">Sme Špecialisti Na</h2>
                <h3 class="section-sub-title">Čo Robíme</h3>
            </div>
        </div>
        <!--/ Title row end -->

        <div class="row">
            <div class="col-lg-4">
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="~/images/icon-image/assembly.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">Bezpečná Montáž</a></h3>
                        <p>S naším odborným montážnym tímom máme bezpečnú a bezchybnú montáž.</p>
                    </div>
                </div><!-- Service 1 end -->

                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="~/images/icon-image/Untitled-1.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">3D Kreslenie</a></h3>
                        <p>Vaše projekty prezentujeme pomocou 3D výkresov.</p>
                    </div>
                </div> 
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="~/images/icon-image/shades.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">Tieniace Systémy</a></h3>
                        <p>Staviame stavby, vďaka ktorým sú vaše priestory, ako sú záhrady alebo terasy vhodné na využitie vo všetkých ročných obdobiach.</p>
                    </div>
                </div><!-- Service 3 end -->

            </div><!-- Col end -->

            <div class="col-lg-4 text-center">
                <img loading="lazy" class="img-fluid" src="~/images/services/service-center.jpg" alt="service-avater-image">
            </div><!-- Col end -->

            <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="~/images/icon-image/beam.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">Predaj Hliníka</a></h3>
                        <p>Máme predaj hliníka vo vami požadovaných rozmeroch.</p>
                    </div>
                </div><!-- Service 4 end -->

                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="~/images/icon-image/sale.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">Maloobchodný Predaj</a></h3>
                        <p>Naše výrobky sú dostupné v demonte a maloobchodnom predaji.</p>
                    </div>
                </div><!-- Service 5 end -->

                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="~/images/icon-image/warranty.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">2 Roky Záruka</a></h3>
                        <p>Všetky motory, ktoré používame, majú dvojročnú záruku.</p>
                    </div>
                </div><!-- Service 6 end -->
            </div><!-- Col end -->
        </div><!-- Content row end -->

    </div>
    <!--/ Container end -->
</section><!-- Service end -->

<section id="project-area" class="project-area solid-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="section-title">VÝBORNÁ PRÁCA</h2>
                <h3 class="section-sub-title">Nedávne Projekty</h3>
            </div>
        </div>
        <!--/ Title row end -->

        <div class="row">
            <div class="col-12">
                <div class="shuffle-btn-group">
                    <label class="active" for="all">
                        <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">UKÁZAŤ VŠETKO
                    </label>
                    <label for="pergola">
                        <input type="radio" name="shuffle-filter" id="pergola" value="pergola">PERGOLA
                    </label>
                    <label for="guilliotine">
                        <input type="radio" name="shuffle-filter" id="guilliotine" value="guilliotine">GILOTÍNOVÉHO SKLA
                    </label>
                    <label for="zahrady">
                        <input type="radio" name="shuffle-filter" id="zahrady" value="zahrady">ZIMNEJ ZÁHRADY
                    </label>
                    <label for="rollingroof">
                        <input type="radio" name="shuffle-filter" id="rollingroof" value="rollingroof">ROLLINGROOF
                    </label>
                    <label for="bioclimatic">
                        <input type="radio" name="shuffle-filter" id="bioclimatic" value="bioclimatic">BIOKLIMATICKÝ
                    </label>
                    <label for="sliding">
                        <input type="radio" name="shuffle-filter" id="sliding" value="sliding">POSUVNÝCH SKIEL
                    </label>
                    <label for="zip">
                        <input type="radio" name="shuffle-filter" id="zip" value="zip">OBRAZOVKA ZIPS
                    </label>
                    <label for="sun">
                        <input type="radio" name="shuffle-filter" id="sun" value="sun">SLNEČNÝ MAKLÉR
                    </label>
                    @*<label for="healthcare">
            <input type="radio" name="shuffle-filter" id="healthcare" value="healthcare">Healthcare
        </label>*@
                </div><!-- project filter end -->


                <div class="row shuffle-wrapper">
                    <div class="col-1 shuffle-sizer"></div>

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;pergola&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/images/projects/bizy pergola.jpeg" aria-label="project-img">
                                <img class="img-fluid" src="~/images/projects/bizy pergola.jpeg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Bizy Cafe</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 1 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;pergola&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/images/projects/zvolen pergola.jpeg" aria-label="project-img">
                                <img class="img-fluid" src="~/images/projects/zvolen pergola.jpeg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Chorvatska Zmrzlina</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 2 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;zahrady&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/images/projects/wintergarden.jpeg" aria-label="project-img">
                                <img class="img-fluid" src="~/images/projects/wintergarden.jpeg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Zimnej Zahrady | Martin</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 3 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;rollingroof&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/images/projects/almanya1.png" aria-label="project-img">
                                <img class="img-fluid" src="~/images/projects/almanya1.png" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Rolling Roof | Lohne,Almanya</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 4 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;pergola&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/images/projects/hrinova pergola.jpeg" aria-label="project-img">
                                <img class="img-fluid" src="~/images/projects/hrinova pergola.jpeg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Levik Zmrzlina</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 5 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;pergola&quot;,&quot;zip&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/images/projects/Nove Zamky.jpeg" aria-label="project-img">
                                <img class="img-fluid" src="~/images/projects/Nove Zamky.jpeg" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Zaves na Zips | Nove Zamky</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 6 end -->
                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;sun&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/images/projects/nati.png" aria-label="project-img">
                                <img class="img-fluid" src="~/images/projects/nati.png" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">National Golf Country Club - Rumunska</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 6 end -->
                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;bioclimatic&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/images/projects/3.png" aria-label="project-img">
                                <img class="img-fluid" src="~/images/projects/3.png" alt="project-img">
                                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">National Golf Country Club - Rumunska</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 6 end -->
                </div><!-- shuffle end -->
            </div>

            <div class="col-12">
                <div class="general-btn text-center">
                    <a class="btn btn-primary" href="/Default/Galeria/">Zobraziť Celý Projekty</a>
                </div>
            </div>

        </div><!-- Content row end -->
    </div>
    <!--/ Container end -->
</section><!-- Project area end -->

<section class="content">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-6">
                <h3 class="column-title">Testimonials</h3>

                <div id="testimonial-slide" class="testimonial-slide">
                    <div class="item">
                        <div class="quote-item">
                            <span class="quote-text">
                                Question ran over her cheek When she reached the first hills of the Italic Mountains, she had a last
                                view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the
                                subline of her own road.
                            </span>

                            <div class="quote-item-footer">
                                <img loading="lazy" class="testimonial-thumb" src="~/images/clients/testimonial1.png" alt="testimonial">
                                <div class="quote-item-info">
                                    <h3 class="quote-author">Gabriel Denis</h3>
                                    <span class="quote-subtext">Chairman, OKT</span>
                                </div>
                            </div>
                        </div>--><!-- Quote item end -->
                    <!--</div>-->
                    <!--/ Item 1 end -->

                    <!--<div class="item">
                        <div class="quote-item">
                            <span class="quote-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris
                                nisi aliquip consequat.
                            </span>

                            <div class="quote-item-footer">
                                <img loading="lazy" class="testimonial-thumb" src="~/images/clients/testimonial2.png" alt="testimonial">
                                <div class="quote-item-info">
                                    <h3 class="quote-author">Weldon Cash</h3>
                                    <span class="quote-subtext">CFO, First Choice</span>
                                </div>
                            </div>
                        </div>--><!-- Quote item end -->
                    <!--</div>-->
                    <!--/ Item 2 end -->

                    <!--<div class="item">
                        <div class="quote-item">
                            <span class="quote-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris
                                nisi ut commodo consequat.
                            </span>

                            <div class="quote-item-footer">
                                <img loading="lazy" class="testimonial-thumb" src="~/images/clients/testimonial3.png" alt="testimonial">
                                <div class="quote-item-info">
                                    <h3 class="quote-author">Minter Puchan</h3>
                                    <span class="quote-subtext">Director, AKT</span>
                                </div>
                            </div>
                        </div>--><!-- Quote item end -->
                    <!--</div>-->
                    <!--/ Item 3 end -->

                <!--</div>-->
                <!--/ Testimonial carousel end-->
            <!--</div>--><!-- Col end -->

            <div class="col-lg-12 mt-5 mt-lg-0">

                <h3 class="column-title">Naši Partnery</h3>

                <div class="row all-clients">
                    <div class="col-sm-4 col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="" src="~/images/clients/delta.png" alt="clients-logo" /></a>
                        </figure>
                    </div><!-- Client 1 end -->

                    <div class="col-sm-4 col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="" src="~/images/clients/somfy.png" alt="clients-logo" /></a>
                        </figure>
                    </div><!-- Client 2 end -->

                    <div class="col-sm-4 col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="" src="~/images/clients/sioen.png" alt="clients-logo" /></a>
                        </figure>
                    </div><!-- Client 3 end -->

                    <div class="col-sm-4 col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="" src="~/images/clients/elatech.png" alt="clients-logo" /></a>
                        </figure>
                    </div><!-- Client 4 end -->

                    <div class="col-sm-4 col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="" src="~/images/clients/samsung.png" alt="clients-logo" /></a>
                        </figure>
                    </div><!-- Client 5 end -->

                    <div class="col-sm-4 col-6">
                        <figure class="clients-logo">
                            <a href="#!"><img loading="lazy" class="" src="~/images/clients/ferrari.png" alt="clients-logo" /></a>
                        </figure>
                    </div><!-- Client 6 end -->

                </div><!-- Clients row end -->
            </div><!-- Col end -->

        </div>
        <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</section><!-- Content end -->

<section class="subscribe no-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="subscribe-call-to-acton">
                    <h3>Môžeme pomôcť</h3>
                    <h4>(+421) 911-664-379</h4>
                </div>
            </div><!-- Col end -->

            <div class="col-lg-8">
                <div class="ts-newsletter row align-items-center">
                    <div class="col-md-5 newsletter-introtext">
                        <h4 class="text-white mb-0">Kontaktujte nás</h4>
                     
                    </div>

                    
                </div><!-- Newsletter end -->
            </div><!-- Col end -->

        </div><!-- Content row end -->
    </div>
    <!--/ Container end -->
</section>
<!--/ subscribe end -->


<!--/ News end -->
