
@{
    ViewBag.Title = "Obrazovka_zips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="banner-area" class="banner-area" style="background-image: url('../../images/banner/banner.png');">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Záves na zips</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/Default/Domov/">Domov</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Záves na zips</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->
<section id="main-container" class="main-container">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <div id="page-slider" class="page-slider small-bg">
                    <div class="item">
                        <img loading="lazy" class="img-fluid" src="~/images/projects/Nove Zamky.jpeg" alt="project-image" />
                    </div>

                    <div class="item">
                        <img loading="lazy" class="img-fluid" src="~/images/pergola/pergola2.jpeg" alt="project-image" />
                    </div>
                    <div class="item">
                        <img loading="lazy" class="img-fluid" src="~/images/pergola/pergola3.png" alt="project-image" />
                    </div>
                    <div class="item">
                        <img loading="lazy" class="img-fluid" src="~/images/pergola/pergola4.png" alt="project-image" />
                    </div>
                </div><!-- Page slider end -->
            </div><!-- Slider col end -->

            <div class="col-lg-6 mt-5 mt-lg-0">

                <div class="content-inner-page">

                    <h2 class="column-title mrt-0">Záves na Zips</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Systém zipsových závesov je odolný, praktický a vysoko funkčný motorizovaný horizontálny a vertikálny uzatvárací systém určený pre vonkajšie a vnútorné obytné priestory. Systém je možné integrovať a pridať tak viac funkcií do súkromných alebo komerčných priestorov, ako sú reštaurácie, terasy, balkóny.
                                Zipsové závesové systémy sú špeciálne dizajnové závesové systémy, ktoré využijete vo všetkých ročných obdobiach.
                            </p>
                            <p>
                                Majú špeciálne navrhnutý zipsový systém, ktorý je vďaka tomuto zipsu veľmi odolný proti vetru.
                                Ide o rýchly, efektívny a praktický exteriérový tieniaci systém s motoricky riadeným mechanizmom.
                                Plní úlohu tienenia bez toho aby bol ovplyvnený dažďom, snehom, slnečným žiarením a ostatnými poveternostnými vplyvmi.

                            </p>
                        </div><!-- col end -->
                    </div><!-- 1st row end-->
                </div><!-- Content inner end -->
                <div class="gap-40"></div>




                <!--2nd row end -->


               




            </div><!-- Content col end -->
            <!-- Row end -->

        </div><!-- Conatiner end -->
</section><!-- Main container end -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="column-title-small">Výhody Zipsového Závesu</h3>

                <ul class="list-arrow">
                    <li>Látka (záclona so zipsom), ktorá poskytuje 100% ochranu proti komárom v úplne uzavretej polohe a chráni ju pred vonkajšími škodcami.</li>
                    <li>Zabezpečuje cirkuláciu vzduchu, zabezpečuje ochranu pred vetrom a dažďom a poskytuje využitie vo všetkých ročných obdobiach.</li>
                    <li>Má tkaninu chrániacu pred slnkom, dobrú redukciu oslnenia a tepelný komfort, tkaninu, ktorá ukazuje vonkajšie priestory zvnútra ale nieje cez ňu vidieť dnu.</li>
                    <li>Podľa údajov získaných pomocou Beaufortovej stupnice, ktorá meria intenzitu vetra, poskytuje výdrž až 118 km/h = 73 mhp</li>

                </ul>
            </div>

            <div class="col-lg-6">
                <h3 class="column-title-small">Vlastnosti Zipsového Závesu</h3>

                <ul class="list-arrow">
                    <li>Hliníkové profily vyrábané pre architektonické účely podľa svetových štandardov sú vyrobené zo zliatiny 6XXX metódou extrúzie a povlak je eloxovaný, farebný alebo bezfarebný.</li>
                    <li>
                        Najčastejšie používaná zliatina je 6063 alebo (AlMg0,7Si)-T5-F22
                        Plastové doplnky majú kvalitnú mechanickú pevnosť, sú odolné voči treniu, odolávajú vyšším teplotám ako ostatné plasty.
                    </li>
                    <li>Zipsy v kombinácii s pokročilými zváracími technikami sa stotožňujú so závesom.</li>
                    <li>
                        Vysoká lámavosť, trhavosť atď. poskytuje vysokú odolnosť voči deformáciám.
                        Je odolný voči poveternostným vplyvom.
                    </li>

                </ul>
            </div>
            <div class="col-lg-12 mt-5 mt-md-0">
                <div class="call-to-action classic">
                    <div class="row align-items-center">
                        <div class="col-md-8 text-center text-md-left">
                            <div class="call-to-action-text">
                                <h3 class="action-title">Pre podrobné informácie</h3>
                            </div>
                        </div><!-- Col end -->
                        <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                            <div class="call-to-action-btn">
                                <a class="btn btn-primary" href="/Default/Kontakt/">Kontaktuj Nás</a>
                            </div>
                        </div><!-- col end -->
                    </div><!-- row end -->
                </div><!-- Action end -->
            </div>
        </div>
    </div>

</section>
