
@{
    ViewBag.Title = "Rollingroof";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="banner-area" class="banner-area" style="background-image: url('../../images/banner/banner.png');">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">ROLLING ROOF</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/Default/Domov/">Domov</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Rolling Roof</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->
<section id="main-container" class="main-container">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <div id="page-slider" class="page-slider small-bg">
                    <div class="item">
                        <img loading="lazy" class="img-fluid" src="~/images/projects/rollingroof.png" alt="project-image" />
                    </div>

                    <div class="item">
                        <img loading="lazy" class="img-fluid" src="~/images/projects/penzionmarko.png" alt="project-image" />
                    </div>
                    @*<div class="item">
                            <img loading="lazy" class="img-fluid" src="~/images/pergola/pergola3.png" alt="project-image" />
                        </div>
                        <div class="item">
                            <img loading="lazy" class="img-fluid" src="~/images/pergola/pergola4.png" alt="project-image" />
                        </div>*@
                </div><!-- Page slider end -->
            </div><!-- Slider col end -->

            <div class="col-lg-6 mt-5 mt-lg-0">

                <div class="content-inner-page">

                    <h2 class="column-title mrt-0">Rolling Roof Systemy</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Ak si chcete užiť svoju záhradu a terasu v štyroch ročných obdobiach, tento produkt je určený priamo pre Vás. Rolovacia strecha je strešný materiál vyrobený z hliníka.
                                Vďaka svojej dlhotrvajúcej a odolnej štruktúre je nepostrádateľnou voľbou pre outdoorové akcie, športové podujatia, veľtrhy, záhrady, kaviarne a podobné miesta.

                            </p>
                            <p>
                                Rolovací strešný systém je vhodný na použitie za všetkých poveternostných podmienok. Stropný systém Rolling Roof má tú výhodu, že sa dá skladať aj posúvať.
                                Vďaka špeciálne navrhnutým panelom Rolling Roof môžete ľahko vyčistiť vonkajší povrch panelov zvnútra bez toho, aby ste museli ísť na strechu.
                                Je zafarbený farbou pre elektrostatickú pec. Aplikácia je vyrobená v ľubovoľnej farbe. Má dlhú životnosť vďaka elektrostatickej farbe.

                            </p>
                        </div><!-- col end -->
                    </div><!-- 1st row end-->
                </div><!-- Content inner end -->
                <div class="gap-40"></div>




                <!--2nd row end -->


                <div class="gap-40"></div>




            </div><!-- Content col end -->
            <!-- Row end -->

        </div><!-- Conatiner end -->
</section><!-- Main container end -->
<section class="main-container">
    <div class="container">
        <div class="row">
            @*<div class="col-lg-6">
            <h3 class="column-title-small">What Makes Us Different</h3>

            <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat
                tincidunt nunc posuere.
            </p>
            <ul class="list-arrow">
                <li>Partnership Strategy tristique eleifend.</li>
                <li>Opporutnity to work with amet elit a.</li>
                <li>Saving Time to Deal with commodo iaculis.</li>
                <li>Leadership skills to manage erat volutpat.</li>
                <li>Cut cost without sacrificing dolore magna.</li>
                <li>Automate your business elis tristique.</li>
            </ul>
        </div>*@
            <div class="col-lg-6 mt-5 mt-md-0">
                <h3 class="column-title-small">ČASTO KLADENÉ OTÁZKY</h3>

                <div class="accordion accordion-group accordion-classic" id="construction-accordion">
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Aké vlastnosti má použitý hliník ?
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#construction-accordion">
                            <div class="card-body">
                                <ul class="list-arrow">
                                    <li>Vysoká pevnosť hliníkových profilov s elektrostatickým práškovým nástrekom. </li>
                                    <li>Všetky profily a použité príslušenstvo sú nerezové. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Ako zabezpečíme izoláciu ?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#construction-accordion">
                            <div class="card-body">
                                <ul class="list-arrow">
                                    <li>Dažďový odvodňovací systém. </li>
                                    <li>Poskytuje vynikajúcu vodotesnosť pomocou tesnenia EPDM.</li>
                                    <li>špeciálne silikónové tesnenia odolné voči chladu a teplote v systémových spojoch.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Aké sú naše farebné možnosti ?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#construction-accordion">
                            <div class="card-body">
                                <ul class="list-arrow">
                                    <li>Môže byť lakovaný podľa všetkych farieb RAL, vrátane základných farieb. </li>
                                    <li>Všetky druhy farebných možností.</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Accordion end -->
                <div class="gap-40"></div>
            </div>
            <div class="col-lg-6 mt-5 mt-md-0">
                <h3 class="column-title-small">ČASTO KLADENÉ OTÁZKY</h3>

                <div class="accordion accordion-group accordion-classic" id="construction-accordion">
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    Aká je životnosť systému Rolling Roof ?
                                </button>
                            </h2>
                        </div>

                        <div id="collapseFour" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#construction-accordion">
                            <div class="card-body">
                                <ul class="list-arrow">
                                    <li>Strešná strecha unesie záťaž snehom do 350kg/m2. </li>
                                    <li>Je odolný voči vetru do 120km/h.</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Ako systém funguje ?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#construction-accordion">
                            <div class="card-body">
                                <ul class="list-arrow">
                                    <li>Existujú motory, ktoré zabezpečujú pohyb panelov v systéme. </li>
                                    <li>Tieto motory s jedným tlačidlom umožňujú zapnutie a vypnutie systému.</li>
                                    <li>Systém môžete kedykoľvek zastaviť pomocou diaľkového ovládania</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Aký je systém osvetlenia ?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingThree"
                             data-parent="#construction-accordion">
                            <div class="card-body">
                                <ul class="list-arrow">
                                    <img class="img-fluid" src="~/images/projects/rolling led.png" alt="project-img" />
                                    <li>LED Značka: Samsung</li>
                                    <li>LED typ : 60x 2835LED IP20</li>
                                    <li>Teplota farieb : 3000K</li>
                                    <li>Prevádzkové napätie : 12 vDCg</li>
                                    <li>Uhol : 120</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Accordion end -->
                <div class="gap-40"></div>
            </div>
            <div class="col-lg-12 mt-5 mt-md-0">
                <div class="call-to-action classic">
                    <div class="row align-items-center">
                        <div class="col-md-8 text-center text-md-left">
                            <div class="call-to-action-text">
                                <h3 class="action-title">Pre podrobné informácie</h3>
                            </div>
                        </div><!-- Col end -->
                        <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                            <div class="call-to-action-btn">
                                <a class="btn btn-primary" href="/Default/Kontakt/">Kontaktuj Nás</a>
                            </div>
                        </div><!-- col end -->
                    </div><!-- row end -->
                </div><!-- Action end -->
            </div>
        </div>
    </div>

</section>