
@{
    ViewBag.Title = "Rollingroof";
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<div id="banner-area" class="banner-area" style="background-image: url('../../images/banner/banner.png');">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">ROLLING ROOF</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/DefaultEN/Home/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Rolling Roof</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->
<section id="main-container" class="main-container">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <div id="page-slider" class="page-slider small-bg">
                    <div class="item">
                        <img loading="lazy" class="img-fluid" src="~/images/projects/almanya1.png" alt="project-image" />
                    </div>
                <div class="item">
                        <img loading="lazy" class="img-fluid" src="~/images/projects/rollingroof.png" alt="project-image" />
                    </div>

                    <div class="item">
                        <img loading="lazy" class="img-fluid" src="~/images/projects/penzionmarko.png" alt="project-image" />
                    </div>
                    @*<div class="item">
                        <img loading="lazy" class="img-fluid" src="~/images/pergola/pergola3.png" alt="project-image" />
                    </div>
                    <div class="item">
                        <img loading="lazy" class="img-fluid" src="~/images/pergola/pergola4.png" alt="project-image" />
                    </div>*@
                </div><!-- Page slider end -->
            </div><!-- Slider col end -->

            <div class="col-lg-6 mt-5 mt-lg-0">

                <div class="content-inner-page">

                    <h2 class="column-title mrt-0">Rolling Roof Systems</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                If you want to enjoy your garden and terrace in four seasons, this product is designed for you. Rolling Roof is a roofing material made of aluminum.
                                With its long-lasting and durable structure, it is an indispensable choice for outdoor events, sports events, fairs, gardens, cafes and similar places.

                            </p>
                            <p>
                                Rolling roof system is suitable for use in all weather conditions.The Rolling Roof ceiling system has the advantage of both folding and moving together.
                                Thanks to Rolling Roof specially designed panels, you can easily clean the outer surface of the panels from the inside without going to the roof.
                                It is colored with electrostatic oven paint; Application is made in any desired color. It is long-lasting thanks to the electrostatic oven paint.
                            </p>
                        </div><!-- col end -->
                    </div><!-- 1st row end-->
                </div><!-- Content inner end -->
                <div class="gap-40"></div>




                <!--2nd row end -->


                <div class="gap-40"></div>




            </div><!-- Content col end -->
            <!-- Row end -->

        </div><!-- Conatiner end -->
</section><!-- Main container end -->
<section class="main-container">
    <div class="container">
        <div class="row">
            @*<div class="col-lg-6">
            <h3 class="column-title-small">What Makes Us Different</h3>

            <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat
                tincidunt nunc posuere.
            </p>
            <ul class="list-arrow">
                <li>Partnership Strategy tristique eleifend.</li>
                <li>Opporutnity to work with amet elit a.</li>
                <li>Saving Time to Deal with commodo iaculis.</li>
                <li>Leadership skills to manage erat volutpat.</li>
                <li>Cut cost without sacrificing dolore magna.</li>
                <li>Automate your business elis tristique.</li>
            </ul>
        </div>*@
            <div class="col-lg-6 mt-5 mt-md-0">
                <h3 class="column-title-small">Frequently Asked Questions</h3>

                <div class="accordion accordion-group accordion-classic" id="construction-accordion">
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What are the properties of the aluminum used?
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#construction-accordion">
                            <div class="card-body">
                                <ul class="list-arrow">
                                    <li>High Strength Aluminum profile Electrostatic Powder Coated</li>
                                    <li>All profiles and accessories used are stainless.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How do we provide insulation?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#construction-accordion">
                            <div class="card-body">
                                <ul class="list-arrow">
                                    <li>Rain drainage system</li>
                                    <li>Providing excellent water insulation by using Epdm gasket.</li>
                                    <li>Special Silicone Gaskets Resistant To Cold And Temperature At System Joints-Closing Points</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What are our color options?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#construction-accordion">
                            <div class="card-body">
                                <ul class="list-arrow">
                                    <li>It can be painted according to all RAL colors except the standard color.</li>
                                    <li>All Kinds of Color Options.</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Accordion end -->
                <div class="gap-40"></div>
            </div>
            <div class="col-lg-6 mt-5 mt-md-0">
                <h3 class="column-title-small">Frequently Asked Questions </h3>

                <div class="accordion accordion-group accordion-classic" id="construction-accordion">
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    What is the durability of the Rolling Roof System?
                                </button>
                            </h2>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingOne"
                             data-parent="#construction-accordion">
                            <div class="card-body">
                                <ul class="list-arrow">
                                    <li>Skyroof can carry snow loads up to 350 kg m2.</li>
                                    <li>It is wind resistant up to 120 km per hour.</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    How does the system work?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#construction-accordion">
                            <div class="card-body">
                                <ul class="list-arrow">
                                    <li>There are motors that provide the movement of the panels in the system.</li>
                                    <li>These single-button motors enable the system to turn on and off.</li>
                                    <li>You can stop the system at any point with the remote control.</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    How is lighting system?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingThree"
                             data-parent="#construction-accordion">
                            <div class="card-body">
                                <ul class="list-arrow">
                                    <img class="img-fluid" src="~/images/projects/rolling led.png" alt="project-img" />
                                    <li>Led Mark: Samsung</li>
                                    <li>Led Type: 60x 2835LED IP20</li>
                                    <li>Color Temp: 3000K</li>
                                    <li>Operating Voltage: 12 vDCg</li>
                                    <li>ANGLE: 120</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Accordion end -->
                <div class="gap-40"></div>
            </div>
            <div class="col-lg-12 mt-5 mt-md-0">
                <div class="call-to-action classic">
                    <div class="row align-items-center">
                        <div class="col-md-8 text-center text-md-left">
                            <div class="call-to-action-text">
                                <h3 class="action-title">For detailed information</h3>
                            </div>
                        </div><!-- Col end -->
                        <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                            <div class="call-to-action-btn">
                                <a class="btn btn-primary" href="/DefaultEN/Contact/">Contact US</a>
                            </div>
                        </div><!-- col end -->
                    </div><!-- row end -->
                </div><!-- Action end -->
            </div>
        </div>
    </div>

</section>



